*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
header{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    color: #fff;
    font-size: 2.6em;
    margin-top: 100px;
    margin-bottom: 80px;
}
h2{
    font-size: 3.5em;
}
.container{
    width: 50%;
    display: flex;
}
.small-container{
    width: 45%;
    text-align: center;
}
.smaller-container{
    width: 40%;
    display: flex;
    
}
.second-header{
    height: 1040px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 150px;
}
.bigger-main{
    height: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second-footer{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.h-height{
    height: 50%;
}
.mh-height{
    height: 75%;
}
.fh-height{
    height: 85%;
}
.sh-height{
    height: 95%;
}

.bgc-light-blue{
    background-color: #3161E0;
}
.bgc-lightgrey{
    background-color: #F6F6F6;
}
.bd-black{
    border: 3px dashed black;
}
.bt-white{
    border-top: 1px solid white;
}
.flex-grow-1{
    flex-grow: 1;
}
.flex-grow-2{
    flex-grow: 2;
}
.table-left{
    justify-content: flex-start;
}
.table-section{
    width: 25%;
}
.space-between{
    justify-content: space-between;
}
.jc-center{
    align-items: center;
}
.buttons{
    width: 100px;
}
.flex-basis-40-h{
    flex-basis: 40%;
    height: 600px;
}
.flex-basis-60{
    flex-basis: 60%;
}
.discord{
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.discord-nav{
    font-size: 1.7em;
    color: white;
    text-align: center;
}
.space{
    visibility: hidden;
}
.f-display{
    display: flex;
    flex-direction: row-reverse;
}
.log-in{
    background-color: #fff;
    text-decoration: none;
    color:black;
    border: 10px solid #fff;
    border-radius: 15px;
    line-height: 30px;
}
.h1-header{
    font-size:5em;
    color: #fff;
    margin-top: 100px;

}
.download-mac{
    background-color: #fff;
    text-decoration: none;
    color:black;
    border: 30px solid #fff;
    border-radius: 45px;
    line-height: 30px;
    font-size: 2em;
}
.browser-discord{
    background-color: #23272A;
    text-decoration: none;
    color:white;
    border: 30px solid #23272A;
    border-radius: 45px;
    line-height: 30px;
    margin-left: 80px;
    font-size: 2em;
}
#down-arrow{
    font-size: 1.3em;
}
.item1{
    background-image: url(../img/item1.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.item2{
    background-image: url(../img/item2.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.item3{
    background-image: url(../img/item3.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.item4{
    background-image: url(../img/item4-big.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 758px;
    margin-top: -30px;
}
.stars{
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    width: 1100px;
    margin-left: 850px;
}
.section-text{
    font-size: 1.5em;
}
.margin-bottom{
    margin-bottom:50px ;
}
.wave{
    background-image: url(../img/wave.svg);
    height: 100px;
    opacity: 0.04;
}
.upside-down{
    rotate: 0.5turn;
}
.text-align{
    text-align: center;
}
.width{
    width: 50%;
}
.margin-top-header{
    margin-top: 150px;
}
.adjust-text{
    line-height: 12px;
    margin-right: 100px;
}
